.accordion-item {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 30em;
  height: 2em;
  border: solid 1px red;
  margin-bottom: 1em;
  overflow: hidden; /* Hide overflowing content */
  transition: height 0.3s ease; /*Add transition for smooth height change */
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.accordion-title:hover {
  background-color: #eaeaea;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.accordion-item.open {
  height: auto; /* Allow the container to expand to fit the content */
}
