.accordion-item {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 30em;
  margin-bottom: 1em;
  overflow: hidden;
  border-bottom: solid rgb(220, 220, 220) 1px;
}

.accordion-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
}

.title {
  margin: 0;
  font-family: var(--heading-secondary);
}

.accordion-content {
  background-color: #f9f9f9;
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 0; /* Initially collapsed */
  font-family: var(--body);
  color: gray
}

