.app {
  background-image: url('/src/assets/images/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 250px;
  background-size: cover;
}

.accordion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}

.accordion {
  margin-top: 2em;
  padding: 2em 1em 2em 1em;
  border-radius: 10px;
  background-color: #f9f9f9;
  max-height: 32em; /* Adjust the max-height to control the height of the accordion */
  overflow-y: auto; /* Add a vertical scroll bar when content exceeds the max-height */
}

.title-wrapper {
  display: flex;
  margin: 0 1.1em 0.5em;
}

.faqs-heading {
  padding: 0px;
  margin: 0px;
  text-align: left;
  margin-left: 1.1rem;
  font-family: var(--heading-primary);
  font-size: 3.2em;
}

@media (max-width: 950px) {
  .accordion {
    width: 80%;
  }
}
