.app {
  background-image: url('/src/assets/images/background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: center top;
  max-height: 250px;
  background-size: cover;
}

.accordion-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 5em;
}

.accordion {
  margin-top: 2em;
  padding: 1em;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.faqs-heading {
  padding: 0px;
  margin: 0px;
  text-align: left;
  margin-top: 0.5em;
}
