@font-face {
  font-family: "WorkSans-VariableFont-Bold";
  src: url('src/assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "WorkSans-VariableFont-SemiBold";
  src: url('src/assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "WorkSans-VariableFont-Regular";
  src: url('src/assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
}


:root {
--heading-primary: "WorkSans-VariableFont-Bold", sans-serif;
--heading-secondary: "WorkSans-VariableFont-SemiBold";
--body: "WorkSans-VariableFont-Regular";

  line-height: 1.5;
  margin: 0 auto;
  background-color: #f9eeff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

