:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  background-color: #f9eeff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
}


body {
  margin: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* place-items: center; */
  min-height: 100vh;
  width: 100%;
}

